@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,500&display=swap');

/* --- Variables --- */
html {
    --bg-color: #FBF1C7;
    --fg-color: #282828;
    --bg-light: #f9f5d7;
    --fg-light: #3c3836;
    --purple: #b16286;
}

/* --- Layout --- */
body {
    max-width: 70rem;
    margin: auto;
    padding: 1rem .5rem;

    font-family: 'Roboto', sans-serif;
    color: var(--fg-color);
    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-left: 1rem;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 3rem;
}

h3 {}

table {
    margin: auto;

    background-color: var(--bg-light);
    border-radius: 4px;
}

tr>* {
    width: 3rem;
    text-align: center;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid;
}


/* --- Decorations --- */
.highlighter-rouge {
    border: 1px solid var(--fg-color);
    border-radius: 4px;
    margin: 1rem;

    padding: 8px;
    font-size: 0.8rem;
}

blockquote {
    border-left: 4px solid var(--purple);
    margin: .8rem 0 0 0;
    padding: 1px 1rem;
    background-color: var(--bg-light);
    color: var(--fg-light);
}

/* --- Text --- */
.camel {
    text-transform: capitalize;
}