@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,500&display=swap');

/* --- Variables --- */
html {
    --bg-color: #f2f2f2;
    --fg-color: #282828;
    --bg-alt: #eaeaea;
    --fg-alt: #3c3836;
    --accent: #40C4FF;
    --bg-light-accent: #E1F5FE;
    --text-accent: #00B0FF;
}

/* --- Layout --- */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--fg-color);
    background-color: var(--bg-color);
}

.exo-body {
    max-width: 70rem;
    margin: auto;
    padding: 2rem 1rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: .5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-left: 1rem;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 3rem;
}

h4,
h5,
h6 {
    font-size: medium;
}

table {
    margin: auto;
    border-collapse: collapse;

    background-color: white;
    border-radius: 4px;
}

tr>* {
    width: 3rem;
    text-align: center;
}

th,
td {
    border: 1px solid;
}

a {
    color: var(--text-accent);
}

/* --- Decorations --- */
.highalter-rouge {
    border: 1px solid var(--fg-color);
    border-radius: 4px;
    margin: 1rem;

    padding: 8px;
}

blockquote {
    border-left: 4px solid var(--accent);
    margin: .8rem 0 0 0;
    padding: 1px 1rem;
    background-color: var(--bg-alt);
    color: var(--fg-alt);
}

/* --- Text --- */
.camel {
    text-transform: capitalize;
}

code {
    font-size: 0.8rem;
}

/* --- Title --- */
html,
body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.page {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
}

.page-content {
    padding: 2rem;
}

.title {
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title .page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1 {
    color: var(--bg-alt);
    font-size: 6rem;
}

#goto-summary-link,
#goto-summary-link *,
#github-link,
#github-link * {
    text-decoration: none;
}

#github-link {
    align-self: flex-end;
}

.button {
    font-size: 2rem;
    background-color: white;
    padding: .4rem 2rem;
    border-radius: 1rem;
    margin: 2rem;

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

    transition: ease-in-out 100ms;
}

.button:hover {
    transform: scale(1.05) translateY(-.25rem);
    cursor: pointer;
}

.button>* {
    padding: 0;
    margin: 0;
    color: var(--fg-color);
}

.summary {
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary>div {
    margin-right: 5rem;
}

.summary li {
    font-size: 2rem;
    margin-top: 1.5em;
    margin-bottom: 1.5rem;
}