@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,500&display=swap');

/* --- Variables --- */
html {
    --bg-color: #f2f2f2;
    --fg-color: #282828;
    --bg-alt: #eaeaea;
    --fg-alt: #3c3836;
    --accent: #40C4FF;
    --bg-light-accent: #E1F5FE;
    --text-accent: #00B0FF;
}

/* --- Layout --- */
body {
    max-width: 70rem;
    margin: auto;
    padding: 2rem 1rem;

    font-family: 'Roboto', sans-serif;
    color: var(--fg-color);
    background-color: var(--bg-color);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: .5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-left: 1rem;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 3rem;
}

h4,
h5,
h6 {
    font-size: medium;
}

table {
    margin: auto;
    border-collapse: collapse;

    background-color: white;
    border-radius: 4px;
}

tr>* {
    width: 3rem;
    text-align: center;
}

th,
td {
    border: 1px solid;
}

a {
    color: var(--text-accent);
}

/* --- Decorations --- */
.highalter-rouge {
    border: 1px solid var(--fg-color);
    border-radius: 4px;
    margin: 1rem;

    padding: 8px;
}

blockquote {
    border-left: 4px solid var(--accent);
    margin: .8rem 0 0 0;
    padding: 1px 1rem;
    background-color: var(--bg-alt);
    color: var(--fg-alt);
}

/* --- Text --- */
.camel {
    text-transform: capitalize;
}

code {
    font-size: 0.8rem;
}